*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

button {
    color: #252525;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

[class*="__container"] {
    max-width: 1280px;
    margin: 0 auto;
}

body,
html {
    scroll-behavior: smooth;
    user-select: none;
    background-color: #e3e3e3;
    overflow: hidden;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    gap: 25px;
    flex-direction: column;
}

.word {
    width: fit-content;
    height: fit-content;
    font-size: 8em;
    line-height: 0.8em;
    text-align: center;
}